.button {
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  .button_to {
  text-align:center;
  padding: 10%;
  }
}

td {
  border:1px solid black;
  padding:5px;
  width:50px;
}

body {
  text-align:center;
}

table {
  margin:0 auto;
  border-collapse:collapse;
  width:200px;
  height:200px;
}

.zero {
  color: white;
}